## Test Report Links

This page provides links to some of the test reports produced by the developers testing over the recent Beta test. Other reports contained in docs are not listed here. 

### Fast, Regular and Bootstrap Sync 

 - [3 runs on EC2](Alan-Mc:-Testing-fast-download)
 - [EC2 run stopped](client-fast-sync-testing)
 - [Regular sync completed](Client-sync-testing)
 - [Fast Sync on developers machine](Testing-fast-sync,-default-settings-(--changes-during-syncing))
 - [Fast Sync on developers machine](Testing-fast-sync---linux)

### JSON API

 - [Mist integration](Mist-Integration-Testing-Report)
 - [RPC Tx sending notes](RPC-testing---sending-transactions-notes)

### Private Networks and Mining
 - [Private Network](Private-Network-Mining-Tests)
